.ad{
    font:14px/30px "微软雅黑";
    color: #bcbcbc;
    text-indent: 28px;
    margin: 10px auto;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    border-radius: 5px;
    width: 900px;
    padding:10px;
}